<main class="home-page-main w-full h-full flex gap-2">
    <!-- <section class="interactive-menu border-2 p-3 w-[10rem] flex flex-col justify-start items-center gap-2 bg-[#588B8B]/60">
    <h1 class="font-bold text-white mt-1">Filters</h1>
        <button class="sort-by-desc text-white w-[100px] bg-[#588B8B]/60 hover:bg-[#588B8B]/25  p-1"><span>Sort by bid DESC</span></button>
        <button id="sort-bid-btn" class="sort-by-bids text-white w-[100px] bg-[#588B8B]/60 hover:bg-[#588B8B]/25  p-1"><span> Sort by bid ASC</span></button>
        <button id="sort-alph-asc-btn" class="sort-by-bids text-white w-[100px] bg-[#588B8B]/60 hover:bg-[#588B8B]/25  p-1"><span><a href="/sort/alphabetical/asc"> Sort by alphabetical ASC.</a></span></button>
        <button id="sort-alph-dsc-btn" class="sort-by-bids text-white w-[100px] bg-[#588B8B]/60 hover:bg-[#588B8B]/25  p-1"><span><a href="/sort/alphabetical/dsc"> Sort by alphabetical DESC.</a></span></button>
        <button id="no-filter" class="no-filter-btn text-white w-[100px] bg-[#588B8B]/60 hover:bg-[#588B8B]/25  p-1"><span><a href="/">No Filter</a></span></button>
    </section> 
   <!-- Collapse Side bar --> 

 <div class="text-center">
   <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
   Show Menu
   </button>
</div>


<div id="drawer-navigation" class="fixed top-0 left-0 z-40 w-64 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-navigation-label">
    <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">Menu</h5>
    <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Close menu</span>
    </button>
  <div class="py-4 overflow-y-auto">
      <ul class="space-y-2">
         <li>
            <button type="button" class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                  <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>
                  <span class="flex-1 ml-3 text-left whitespace-nowrap">Filters</span>
                  <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
            <ul id="dropdown-example" class="hidden py-2 space-y-2">
                  <li>
                     <button id="sort-bid-btn" href="#" class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Sort by asc. price</button>
                  </li>
                  <li>
                     <button href="#" class="sort-by-desc flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Sort by desc. price</button>
                  </li>
                  <li>
                     <a href="/sort/alphabetical/asc" class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Sort by alphabetical ASC.</a>
                  </li>
                  <li>
                     <a href="/sort/alphabetical/dsc" class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Sort by alphabetical DESC.</a>
                </li>            
            </ul>
         </li>
        </ul>
    </div>
</div>
        <section class="products-output flex flex-wrap justify-center items-center gap-4 p-2 w-full">
            {{#each plainData as |data|}}
            <div class="card-wrapper shadow-lg border-2 w-[15rem] flex flex-col gap-3">
                
                <img class="w-full h-[200px]" src={{data.image}} alt="product-img">
              
                <div class="product-name px-1">
                    <span>Product Name: <span class="font-bold">{{data.product_name}}</span></span>
                </div>
                <div class="user-name px-1">
                    <span>User Name: <span class="font-bold">{{data.user.user_name}}</span></span>
                </div>
                <div class="bids px-1">
                    {{#if data.bids.[0].bid_amt}}
                    <span> Highest Bid: <span class="font-bold">${{data.bids.[0].bid_amt}}</span></span>
                    {{else}}
                    <span> Highest Bid: <span class="font-bold">No Bids</span></span>
                    {{/if}}
                </div>
                
                <a class="bg-[#588B8B]/60 hover:bg-[#588B8B]/25 p-1 text-center text-white" href="/product/view/{{data.id}}">View Product</a>
            </div>

            {{/each}}
        </section>
</main>

<script>
           const btn = document.querySelector('#sort-bid-btn')
           const btnDESC = document.querySelector('.sort-by-desc')
           const innerH = document.querySelector('.products-output')
           btn.addEventListener('click', () => { 
            fetch('/sort/bids/dsc')
            .then(res => res.json())
            .then(data=>{
                console.log(data)
                let testData = data.map(info => {
                    let key = Math.floor(info.bids[0].bid_amt);
                    console.log("from new test", key);
                    return info;
                }).sort((a, b) => {
                    return a.bids[0].bid_amt-b.bids[0].bid_amt;
                })
                console.log(testData);
                let map = testData.map((info, index) => {
                    let key = Math.floor(info.bids[0].bid_amt)
                    console.log(key)
                    return  `<div key=${Math.floor(info.bids[0].bid_amt)} class="card-wrapper shadow-lg border-2 w-[15rem] flex flex-col gap-3">
                    <img class="w-full h-[200px]" src=${info.image} alt="product-img">
                    <div class="product-name">
                        <span>Product Name: <span class="font-bold">${info.product_name}</span></span>
                    </div>
                    <div class="user-name">
                        <span>User Name: <span class="font-bold">${info.user.user_name}</span></span>
                    </div>
                    <div class="bids">

                        <span> Highest Bid: <span class="font-bold">$ ${info.bids[0].bid_amt}</span></span>

                        

                    </div>
                        <a class="bg-[#588B8B]/60 hover:bg-[#588B8B]/25 p-1 text-center text-white" href="/product/view/${info.id}">View Product</a>
                    </div>`
                }).join(' ')
                
           
            innerH.innerHTML = map
            })
            
           })
          
           btnDESC.addEventListener('click', () => { 
            fetch('/sort/bids/dsc')
            .then(res => res.json())
            .then(data=>{
                console.log(data)
                let testData = data.map(info => {
                    let key = Math.floor(info.bids[0].bid_amt);
                    console.log("from new test", key);
                    return info;
                }).sort((a, b) => {
                    return b.bids[0].bid_amt-a.bids[0].bid_amt;
                })
                console.log(testData);
                let map = testData.map((info, index) => {
                    let key = Math.floor(info.bids[0].bid_amt)
                    console.log(key)
                    return  `<div key=${Math.floor(info.bids[0].bid_amt)} class="card-wrapper shadow-lg border-2 w-[15rem] flex flex-col gap-3">
                    <img class="w-full h-[200px]" src=${info.image} alt="product-img">
                    <div class="product-name">
                        <span>Product Name: <span class="font-bold">${info.product_name}</span></span>
                    </div>
                    <div class="user-name">
                        <span>User Name: <span class="font-bold">${info.user.user_name}</span></span>
                    </div>
                    <div class="bids">

                        <span> Highest Bid: <span class="font-bold">$ ${info.bids[0].bid_amt}</span></span>

                        

                    </div>
                        <a class="bg-[#588B8B]/60 hover:bg-[#588B8B]/25 p-1 text-center text-white" href="/product/view/${info.id}">View Product</a>
                    </div>`
                }).join(' ')
                
            
            innerH.innerHTML = map
            })
            
           })


           
</script>