<main class="flex flex-row">
    <img src={{product.image}} alt="product image goes here">
    <div>
    <h1>{{product.product_name}}</h1> <span id="idEl" value={{product.id}}></span>
    <p>selling by: <span id='userIdEl'>{{product.user_id}}</span></p> <!--Should be username? -->
    <p>{{product.description}}</p>
    <p>Current bid: </p>
    <form id="bidForm"> <label for="new-bid"> Place bid:</label> <input type="text" id="new-bid" name="new-bid"> <input type="submit" value="Submit"> </form>
    <p> Bidding history:</p>




    </div>
</main>

<script>
const bidForm = document.querySelector('#bidForm');

//fetch call for placing a bid

const placeBid = async (event) => {
    event.preventDefault();
    const product_id = document.querySelector('#idEl').getAttribute('value');
    const user_id = document.querySelector('#userIdEl').textContent;
    const bid_amt = document.querySelector('#new-bid').value;
    console.log(product_id,user_id,bid_amt);
    const response = await fetch(`/product/view/${product_id}`, {
        method: 'POST',
        body: JSON.stringify({ bid_amt, user_id, product_id }),
        headers: { 'Content-Type': 'application/json' },
    })
}

bidForm.addEventListener('submit', placeBid);

</script>