<main class="flex flex-row">
    <img src={{product.image}} alt="product image goes here">
    <div>
    <h1>{{product.product_name}}</h1> <span id="idEl" value={{product.id}}></span>
    <p>selling by: <span id='userIdEl'>{{product.user_id}}</span></p> <!--Should be username? -->
    <p>{{product.description}}</p>
    <p>Current bid: </p>
    <form id="bidForm"> <label for="new-bid"> Place bid:</label> <input type="text" id="new-bid" name="new-bid"> <input type="submit" value="Submit"> </form>
    <p> Bidding history:</p>




    </div>
</main>

<script>
const bidForm = document.querySelector('#bidForm');

//fetch call for placing a bid

const placeBid = async (event) => {
    event.preventDefault();
    const prodId = document.querySelector('#idEl').getAttribute('value')
    const userId = document.querySelector('#userIdEl').textContent;
    
    const bidAmt = document.querySelector('#new-bid').value;
    const response = await fetch(`/product/view/${prodId}`, {
        method: 'POST',
        body: JSON.stringify({ bidAmt, userId, parseInt(prodId) })
    })
}

bidForm.addEventListener('submit', placeBid);

</script>